Source: qtunity-appmenutheme
Priority: optional
Maintainer: UBports Developers <developers@ubports.com>
Build-Depends: debhelper (>= 9),
               libatspi2.0-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libglib2.0-dev,
               libubuntu-application-api-dev (>= 2.9.0),
               qtbase5-private-dev,
               quilt,
Standards-Version: 3.9.6
Section: libs

Package: qtunity-appmenutheme
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Qt platform theme for exported application menus
 Appmenutheme enables the export of application menus to a global menu bar.
 It is implemented in a QPA platform theme plugin.
 .
 This package will work for applications designed for Qt5, as well as QML
 applications
